services:
  api:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app/src
      - db-data:/app/instance
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1

volumes:
  db-data:
